@using WeddingPlanner.Models
@model Wedding

<h1>Plan Your Wedding</h1>
<a href="/Dashboard">Dashboard</a>
<a href="/logout">Sign Out</a>

<hr>

<form asp-action="AddNewWedding" asp-controller="Home" method="POST">
    <span asp-validation-for="WedderOne"></span>
    <label asp-for="WedderOne"></label>
    <input type="text"asp-for="WedderOne">

    <span asp-validation-for="WedderTwo"></span>
    <label asp-for="WedderTwo"></label>
    <input type="text"asp-for="WedderTwo">

    <label asp-for="Date"></label>
    <span asp-validation-for="Date"></span>
    <input type="date" asp-for="Date">

    <span asp-validation-for="Address"></span>
    <label asp-for="Address"></label>
    <input type="text"asp-for="Address">

    <button type="submit">Sign Up Now</button>
</form>